.pull-right{
    display: block;
}

.modal-card{
    width: 30%;
}

.float-right{
    float: right;
}

.clear-right{
    clear: right;
}

.login-error{
    color: red;
}

.image-loader{
    width: 50px;
    height: 50px;
    margin: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}